{% macro eventCard(event) %}
<div class="event-card">
    <h3>{{ event.data.title }}</h3>
    <p>{{ event.data.description }}</p>
    <a href="{{ event.url }}" class="button">Learn More</a>
</div>
{% endmacro %}