---
layout: base
title: Events
---
<h1>Upcoming Events</h1>
<div class="events-grid">
    {%- for event in collections.events | sortByDate -%}
    <div class="event-card">
        <h2>{{ event.data.title }}</h2>
        <time datetime="{{ event.data.date | dateIso }}">{{ event.data.date | dateDisplay }}</time>
        <p>{{ event.data.description }}</p>
    </div>
    {%- endfor -%}
</div>